{% extends 'base.html' %}
{% block title %}
Log In
{% endblock title %}
{% block content %}

    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{field.label}}
            <br>
            {{field}}
            <br>
        {% endfor %}
        {% if form.errors %}
            <small style="color: red">Your username and password didn't match. Please try again.</small><br>
        {% endif %}
        <button type="submit">Log In</button>
    </form>
    
{% endblock content %}