{% extends 'base.html' %}
{% load static %}
{% block title %}
To-Do List
{% endblock title %}
{% block page_style %}
<link rel="stylesheet" type="text/css" href="{% static 'todo_list/home.css' %}">
{% endblock page_style %}
{% block content %}
<div class="container-fluid">    
    <div class="main-wrapper">
        <h1>To Do List</h1>
    {% if user.is_authenticated %}   
        {% for task in tasks %}
        <div class="label-wrapper d-flex align-items-center justify-content-between">
            <label class="label-container d-flex align-items-center">
                <input type="checkbox" {% if task.completed %}checked{% endif %} >
                <span class="checkmark"></span>
                <p>{{task.name}}</p>
            </label>
            <div class="d-flex flex-row">
                <button class="btn btn-info">
                    <i class="fas fa-pen fa-2x"></i>
                </button>
                <button class="btn btn-danger">
                    <i class="fas fa-trash fa-2x"></i>
                </button>
            </div>  
        </div>
        {% endfor %}
        <button class="btn btn-info float-btn">
            <i class="fas fa-plus fa-2x"></i>
        </button>
    {% else %}
        <p>You are not logged in</p>        
    {% endif %}
    </div>     
</div>     
{% endblock content %}