{% extends 'base.html' %}
{% load static %}
{% block title %}
Email Sent
{% endblock title %}
{% block page_style %}
<link rel="stylesheet" type="text/css" href="{% static 'todo_list/login_signup.css' %}">
{% endblock page_style %}
{% block content %}
<div class="container-fluid">
    <div class="blurry">
        <div class="bg-cat">
        </div>
    </div>
    <div class="form-wrap d-flex align-items-center">
        <div class="form-block">
            <h2>Check your inbox</h2>
            <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        </div>
    </div>
</div>
    
{% endblock content %}