{% extends 'base.html' %}
{% load static %}
{% block title %}
Enter new password
{% endblock title %}
{% block page_style %}
<link rel="stylesheet" type="text/css" href="{% static 'todo_list/login_signup.css' %}">
{% endblock page_style %}
{% block content %}
<div class="container-fluid">
    <div class="blurry">
        <div class="bg-cat">
        </div>
    </div>
    <div class="form-wrap d-flex align-items-center">
        <div class="form-block" style="width:350px">
            {% if validlink %}
            <h2>Set a new password</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <br>
                    <p style="text-align:left;margin-bottom:0">{{field.label}}</p>
                    {{field}}
                {% endfor %}
                {% if form.errors %}
                    <small style="color: red">Your passwords didn't match. Please try again.</small><br>
                {% endif %}
                <button class="btn btn-info btn-block" type="submit">Change password</button>
            </form>
            {% else %}
            <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock content %}