{% extends 'base.html' %}
{% load static %}
{% block title %}
Password reset complete
{% endblock title %}
{% block page_style %}
<link rel="stylesheet" type="text/css" href="{% static 'todo_list/registration.css' %}">
{% endblock page_style %}
{% block content %}
<div class="bg-cat"></div>
<div class="form-wrap d-flex align-items-center">
    <div class="form-block wider">
        <h2>Password reset complete</h2>
        <p>Your new password has been set. You can log in now.</p>
    </div>
</div>
    
{% endblock content %}