.navbar{
    justify-content: space-between;
}
.navbar p{
    display: inline;
    color: #ffffff;
}
.brand{
    color: #ffffff;
} 
.container-fluid{
    height: 94vh;
    position: relative;
    padding: 0;
}
