.container-fluid{
    height: 94vh;
    position: relative;
    padding: 0;
    background: #4b5156;
}
.main-wrapper{
    width: 80vw;
    height: inherit;
    margin: 0 auto;
    padding: 20px 0;
}
h1{
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
.label-container {
    display: block;
    position: relative;
    padding-left: 70px;
    cursor: pointer;
    font-size: 27px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
  }
  
  /* Hide the browser's default checkbox */
  .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width:50px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .label-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .label-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .label-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .label-container .checkmark:after {
    left: 18px;
    top: 2px;
    width: 16px;
    height: 35px;
    border: solid white;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  