.bg-cat{
    background: url('http://placekitten.com/g/800/600') no-repeat center;
    background-size: cover;    
    width: 100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: absolute;
}
.form-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
}
.form-block{
    width: 300px;
    margin: auto;
    background: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}
.wider{
    width: 350px;
}
h2{
    color: #757575;
}
input{
    width: 100%;
    padding: .375rem .75rem;
    margin: 20px 0 10px 0;
}
button, .or-label + a{
    margin-top: 20px;
    text-transform: uppercase;
}
input[name="email"], input[name="password2"]{
    margin: 0;
}
p + button{
    margin-top: 30px;
}
p > input{
    margin: 15px 0;
}
input[name^=new_password]{
    margin-top: 0;
}
.pass-reset-label{
    text-align:left;
    margin-bottom:0;
}
.or-label {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #757575; 
    line-height: 0.1em;
    margin: 20px 0 20px; 
 } 
 
 .or-label>span { 
    background: #fff; 
    padding: 0 10px; 
    color: #757575;
    text-transform: uppercase;

 }
 a>i{
     padding-right: 10px;
 }
 .space-top{
     margin-top: 10px;
 }